@font-face {
    font-family: "Mono sans extralight";
    src: url(./asset/Mons\ sans\ extralight.woff2);
    font-family: "source serif 4 regular";
    src:url(./asset/source\ serif\ 4.woff2);
}
*{ margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width:100%;
font: 10px;
background-color: #F8F7F4;
-webkit-user-select: none;
}
#navbar{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.9vw 3vw 2.5vw 3vw;
}
.banner svg{margin-right: 2vw;}
    .banner{
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 2vw;
    }
    .banner a{
        display: flex;
        align-items: center;
    }
    .banner a:nth-child(2) i {
        font-size: 2vw;}

#navbar a{
    text-decoration: none;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 550;
    color:#0D0C22;
}
.right{
 
    display: flex;
    align-items:center ;
    justify-content: center;
}
.search{
    border-radius: 99px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    padding: 1vw 1.5vw ;
    margin-right: 2vw;
    display: flex;
    gap: 0.5v
}
.search input{
    border:none;
    outline: none;
}
.search:hover , :active{
    border-color: #be94bba2;
    transition-timing-function: ease;
   transition-duration:0.5s ;
}
.auth{
    display: inline-block;
    text-align: center;
    justify-content: center}
#navbar .auth a:nth-child(2){
    border-radius: 99px;
    padding: 1vw 2vw;
    margin-left: 2vw;
    background-color: black;
    color:#ffffff;
}

#navbar a:hover{
    color: #4b4b4dd0;
}
#navbar .auth a:nth-child(2):hover{
    background-color: #252525d3;
}
#textcontainer{
    padding: 6vw 0 3vw 0 ;
    height: max-content;
    width: 100%;
    text-align: center;
}
.class1{
    margin: 0 auto;
    height: min-content;
    width: max-content;
    border-radius: 999px; 
    padding: 0.5vw 1.5vw;  
    background-color: rgb(239,177,235);
    margin-bottom: 2.8vw;}
    
.class1 h5{
    font-size: 1.2vw;
    font-family: "source serif 4 regular";
    font-weight: 400;
    }
    .class2 h1{   
    font-family: "source serif 4 regular";        
    font-size: 5.5vw;
    margin: 0 auto;
    font-weight: 500;
    line-height: 5.5vw;
}
.class3 h3{
    font-family: "source serif 4 regular";
    font-size: 1.6vw;
    margin: 0 auto;
    font-weight: 550;
    line-height: 5.5vw;
}
.class4{
    border-radius: 99px;
    width: max-content;
    height: max-content;
    margin: auto;
    padding: 1.5vw 2vw ;
    margin-top: 1vw;
    background-color: black;
    
}
.class4 h5{
    color:#ffffff;
    font-size: 1.2vw;
    font-family: "mono sans extraLight";
    font-weight: 400;
}
#textcontainer .class4:hover{
    background-color: #252525d3;
}
::-webkit-scrollbar{
    display: none;
}
.scroll-container{
    width: 100vw;
    height: 60vh;
    overflow: hidden;
  }
  .scroll-wrapper{
    display: flex;
    will-change: transform;
    white-space: nowrap;
    animation: scroll linear infinite;
  }
  .image-wrapper  {
    flex-shrink: 0;
    height: 60vh;
    width: 50vh;
    padding: 1vw;
  }
  .image-wrapper video , img {
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 40px;
   }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-290%);
    }
  }
#page2{
    height: max-content;
    width: 100%;
}
.page2text1{height: fit-content;
    width: 100%;    
    text-align: center;
    margin-top: 5vw;
}
.page2text1 h1{
    font-size: 3.5vw;
    font-family: "Mona Sans";
    font-weight: 600; 
}
.showcase{
    height: 100%;
    width: 100%;
    padding: 4vw;
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
}
.page2image { 
    position: relative;
    height: 35vh;
    width: 40vh;
    margin:1vw;
    border-radius: 10px;
    
}
.page2image img{
    height:85%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  
}
.overflow{
    position: absolute;
    color: white;
    bottom: 25%;
    width: 100%;
    z-index: 999;
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: space-between;
    align-items:center ;
    transition: all ease 0.5s
}
.page2image:hover .overflow{
    opacity: 1;
    visibility: visible;

}
.overflowtext{
    left: 5%;
    width:90%;
    padding-left:1vw ;
}
.icon{position: absolute; 
  right: 2%;
}
.overflowtext h5{
    font-size: 16px;
}
.icon i{margin-right: 0.5vw;
    border-radius: 50%;
    background-color: white;
    padding: 1vw;
    color: #0D0C22;
}
.link {
    border-radius: 99px;
    width: max-content;
    height: max-content;
    margin: auto;
    padding: 1vw 2vw ;
    margin-top: 1vw;
    border: 0.5px solid ;
    
}
.link a{
    text-decoration: none;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 550;
    color:#0D0C22;
}
#page3{
    overflow: hidden;
    margin-top:  10.8vw;
    height: 100%;
    padding-top: 6vw;
    width: 100%;
    background-color: #ecc92b;
}
.pg3text {text-align: center;
}
.pg3text h1{
    font-size: 5vw;
    font-family: serif;
    font-weight: 500;
    line-height: 5vw;
}
.pg3text h3{
    margin-top: 2vw;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 3vw;
}
#textmatch {
    
    margin-top:-8px ;
}
#buttoncontainer{
    text-align: center;
    margin: 1.9vw;
}
.button{
    border-radius:99px ;
    padding: 1.5vw 2vw ;
    margin: 0.7vw;
    background-color: #0D0C22;
    display: inline-block;
    }
.button a{
    color: white ;
    font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
}
#button2 
{ 
    background-color: #ffffff;
    color: black;
}
#button2 a{
    color: black;
}
.button:hover {
    background-color: #414141d3;
}

#button2:hover{
    background-color: rgba(255, 255, 255, 0.616);
}
.jointext{
    display: flex;
    padding-top: 1vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.jointext h3{font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 100;
    color: #0d0c22d3;
}
.jointext a{color: #0D0C22;
font-family: sans-serif;
font-size: 1.5vw;}

#page4{
    height: max-content;
    width: max-content;
}
.scrollpg4{
    width: 100vw;
    height: 40vh;
    padding: 2vw;
  }
  .scrolldiv{
    display: flex;
    will-change: transform;
    white-space: nowrap;
    animation: scrolls linear infinite;
  }
  .imagecontainer {
    flex-shrink: 0;
    height: 150px;
    margin-right: 1.5vw;
    width: 200px;
  }
  .imagecontainer img {
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
   }
   .imagecontainer h3{
    font-size: 1vw;
    padding: 1vw 0.5vw;
    font-weight: 500;
    font-family: sans-serif;
   }
  @keyframes scrolls {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-290%);
    }
  }

  #page4{
    height: 100%;
    width: 100%;
    background-color: turquoise;
  }
